#search-navbar {
    background-color: #0E1423;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.427);
    height: 60px;
    z-index: 100;
    padding: 0 20px;
}

.nav-logo-mobile {
    display: none;
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(to right, #2563eb, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1px;
}

.notification-bell {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.notification-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  border-radius: 999px;
    background: linear-gradient(to right, #2563eb, #06b6d4);
  
  color: white;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


.search-holder-box {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#main-search {
    background-color: #1A1A1A;
    border: 1px solid #262626;
    outline: none;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    width: 100%;
}

#main-search:focus {
    border: 2px solid #06b6d4;
}

.search-guess-box {
    position: absolute;
    top: 50px;
    width: 100%;
    background: #111;
    border-radius: 12px;
    overflow-y: auto;
    max-height: 350px;
    z-index: 1001;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.search-guess {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.is-profile-holder {
    width: 35px;
    height: 35px;
    min-width: 35px;
    background: linear-gradient(to bottom right, #2563eb, #9333ea);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.contain-name-user {
    display: flex;
    flex-direction: column;
}

.user-above-info {
    color: white;
    font-size: 14px;
}

.user-below-info {
    color: #9ca3af;
    font-size: 11px;
}

@media (max-width: 1020px){
    .notification-bell{
        display: inline-flex;
    }
}

@media (max-width: 768px) {
    #search-navbar {
        padding: 0 15px;
        gap: 10px;
    }

    .nav-logo-mobile {
        display: block;
    }

    .search-holder-box {
        flex: 1;
    }

    #main-search {
        font-size: 13px;
    }

    .search-guess-box {
        width: calc(100vw - 30px);
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
        top: 65px;
    }
}